@font-face {
    font-family: gilroy-medium;
    src: url(~/assets/fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: gilroy-regular;
    src: url(~/assets/fonts/gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: gilroy-bold;
    src: url(~/assets/fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: gilroy-black;
    src: url(~/assets/fonts/gilroy/Gilroy-Black.ttf);
}
